<?xml version="1.0" ?>
<model>
    <name>Gimbal 3D</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>anonymous</name>
        <email>anonymous</email>
    </author>
    <description>gz sdf -p urdf/my_gimbal_3d.urdf > model.sdf
    </description>
</model>